.extra {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.humidity,
.wind,
.precipitation {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  background-color: rgba(119, 222, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.precipitation {
  font-size: 0.7rem;
  text-align: center;
}

.extra p {
  margin: 0;
  padding: 0;
}
